.blog-detail-page-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.blog-detail-page {
    width: 90%;
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 5% 0%;
}

.blog-detail-page .author-info-wrapper,
.blog-detail-page .blog-detail-wrapper {
    padding: 8px;
}

.blog-detail-page .author-info-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.blog-detail-page .author-info-wrapper .author-info-container {
    border-color: black;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
}

.blog-detail-page
    .author-info-wrapper
    .author-info-container
    .profile-img-container
    img {
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
}

.blog-detail-page .author-info-wrapper .author-info-container .name {
    font-weight: 550;
    margin-top: 2vh;
    font-size: 1.25em;
}

.blog-detail-page .author-info-wrapper .author-info-container .occupation {
    margin-top: 1vh;
}

.blog-detail-page .author-info-wrapper .author-info-container .description {
    font-size: 0.9em;
}

.blog-detail-page .blog-detail-wrapper .blog-detail-container .title {
    font-size: 2em;
}

.blog-detail-page .blog-detail-wrapper .blog-detail-container .subtitle {
    font-weight: 500;
}

.blog-detail-page .blog-detail-wrapper .blog-detail-container .topic {
    text-align: end;
    font-size: 0.9em;
    font-weight: 600;
    margin: 2vh 0vh 0vh;
    margin-right: 8px;
}

.blog-detail-page
    .blog-detail-wrapper
    .blog-detail-container
    .cover-image-container {
    display: flex;
    justify-content: center;
}

.blog-detail-page
    .blog-detail-wrapper
    .blog-detail-container
    .cover-image-container
    img {
    width: 100%;
    border-radius: 4px;
    margin-top: 2vh;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.blog-detail-page .blog-detail-wrapper .blog-detail-container .content {
    margin: 3em 0em 2em;
}

.blog-detail-page .blog-detail-wrapper .divider {
    border-bottom: 1px solid black;
}

.blog-detail-page .blog-detail-wrapper .comment-list-wrapper .like-container {
    display: flex;
    justify-content: space-between;
}

.blog-detail-page
    .blog-detail-wrapper
    .comment-list-wrapper
    .comments-wrapper
    .comment-container {
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 3%;
}

.blog-detail-page
    .blog-detail-wrapper
    .comment-list-wrapper
    .comments-wrapper
    .comment-container
    .side-info {
    display: flex;
    justify-content: space-between;
}

.blog-detail-page
    .blog-detail-wrapper
    .comment-list-wrapper
    .comments-wrapper
    .comment-container
    .commentor-info {
    display: flex;
    justify-content: space-evenly;
}

.blog-detail-page
    .blog-detail-wrapper
    .comment-list-wrapper
    .comments-wrapper
    .comment-container
    .side-info
    .commentor-info,
.blog-detail-page
    .blog-detail-wrapper
    .comment-list-wrapper
    .comments-wrapper
    .comment-container
    .side-info
    .date {
    height: 45px;
    line-height: 45px;
}

.blog-detail-page
    .blog-detail-wrapper
    .comment-list-wrapper
    .comments-wrapper
    .comment-container
    .side-info
    .commentor-info
    .commentor {
    margin-left: 8px;
}

.blog-detail-page
    .blog-detail-wrapper
    .comment-list-wrapper
    .comments-wrapper
    .comment-container
    .side-info
    .commentor-info
    .avatar
    img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.blog-detail-page
    .blog-detail-wrapper
    .comment-list-wrapper
    .comments-wrapper
    .comment-container
    textarea {
    resize: none;
    height: 15vh;
    margin-top: 12px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
}
