.button-standard {
    border-radius: 8px;
    border-width: 0.5px;
    padding: 8px 12px;
    cursor: pointer;
    margin: 8px;
}

.button-red {
    background-color: #db5b43;
    color: white;
}

.button-red:hover {
    background-color: #c04832;
}

.button-orange {
    background-color: #e07d45;
    color: white;
}

.button-orange:hover {
    background-color: #a95f35;
}

.button-grey {
    background-color: #c4c4c4;
}

.button-grey:hover {
    background-color: #7c7b7b;
}

.button-white {
    background-color: #ffffff;
}

.button-white:hover {
    background-color: #d1d1d1;
}
