@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "./loader.css";
@import "./modal.css";
@import "./Button.css";
@import "./BlogEditPage.css";
@import "./Auth.css";
@import "./BlogDetailPage.css";
@import "./Profile.css";
@import "./BlogList.css";
@import "./Author.css";
@import "./EditProfile.css";
@import "./BlogsPage.css";
@import "./Navbar.css";

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: rgba(196, 196, 196, 0.25);
}

textarea {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 1.25em;
}

h2 {
    font-size: 1.15em;
    margin-block-end: 0em;
}

h3 {
    margin-block-end: 0.3em;
    padding-left: 4px;
}

.form-error {
    color: red;
}

.hide-from-users {
    position: absolute;
    left: -99em;
    height: 0;
}

.hidden {
    display: none;
}

.divider {
    border-bottom: 1px solid black;
}

.text-align-center {
    text-align: center;
}
