@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "./Loader.css";
@import "./Modal.css";
@import "./Button.css";
@import "./BlogEditPage.css";
@import "./Auth.css";
@import "./BlogDetailPage.css";

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: rgba(196, 196, 196, 0.25);
}

textarea {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 1.25em;
}

.form-error {
    color: red;
}

.hidden {
    display: none;
}
